<section id="about-us" class="my-4" *ngIf="usuarios">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="btn btn-start greencolor">{{dataAbout.button}}</p>
        <h2>{{dataAbout.title}}</h2>
        <p>{{dataAbout.text}}</p>
      </div>
    </div>
    <swiper [config]="configInfo">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let user of usuarios; let i = index">
          <div class="row justify-content-center">
            <div class="col-12 text-center px-4">
              <picture *ngIf="(i+1)%2 == 0; else another">
                <source srcset="{{dataAbout.backgrounds[0].backWeb}}" type="image/webp"><!-- Formato WebP -->
                <img class="img-fluid" src="{{dataAbout.backgrounds[0].back}}" alt="background users about us">
              </picture>
              <ng-template #another>
                <picture>
                  <source srcset="{{dataAbout.backgrounds[1].backWeb}}" type="image/webp"><!-- Formato WebP -->
                  <img class="img-fluid" src="{{dataAbout.backgrounds[1].back}}" alt="background users about us">
                </picture>
							</ng-template>
              <div class="carousel-caption">
                <p class="text-white about-comment">{{dataAbout.textUsers}}</p>
                <p class="mb-0 text-white">{{user.name}}</p>
                <p class="mb-0 text-white">{{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next" style="margin-right: -10px;"></div>
      <div class="swiper-button-prev" style="margin-left: -10px;"></div>
    </swiper>
  </div> 
</section>