<section id="banner" class="banner-home">
  <div class="container">
    <div class="row">
      <div class="col-6 mt-5 fadeInLeft animated">
        <h1 class="titleBanner">{{dataHome.infoBanner.title}}</h1>
        <span [innerHTML]="dataHome.infoBanner.text | safeInsertion: 'html'"></span>
        <div class="row">
          <div class="col-4 my-auto px-0">
            <p class="btn btn-start text-primary my-auto font-weight-bolder" style="font-size: 20px;">{{dataHome.infoBanner.buttonStart}}</p>
          </div>
          <div class="col px-0 my-auto">
            <i class="fas fa-play btn-start rounded-circle p-3 greencolor"></i> {{dataHome.infoBanner.video}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="service" class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <p class="btn btn-start greencolor">{{dataHome.services.button}}</p>
        <h2>{{dataHome.services.title}}</h2>
      </div>
      <div class="col-3 text-center mx-4" *ngFor="let service of dataHome.services.service">
        <picture>
          <source srcset="{{service.iconweb}}" type="image/webp"><!-- Formato WebP -->
          <img class="img-fluid mb-3" src="{{service.icon}}" alt="services lucasian labs">
        </picture>
        <h3>{{service.title}}</h3>
        <p>{{service.text}}</p>
      </div>
      <div class="col-3 text-center mx-4" *ngFor="let arrow of dataHome.services.arrow; let i = index">
        <picture>
          <source srcset="{{arrow.iconweb}}" type="image/webp"><!-- Formato WebP -->
          <img class="img-fluid mb-3" [ngClass]="{'flipImage': i==2}" src="{{arrow.icon}}" alt="services lucasian labs">
        </picture>
      </div>
      <div class="col-8 text-center">
        <p [innerHTML]="dataHome.services.text | safeInsertion: 'html'"></p>
      </div>
      <div class="col-12 text-center fadeInUp animated">
        <picture>
          <source srcset="{{dataHome.services.producWeb}}" type="image/webp"><!-- Formato WebP -->
          <img class="img-fluid" [ngClass]="{'flipImage': i==2}" src="{{dataHome.services.productImg}}" alt="services lucasian labs">
        </picture>
      </div>
    </div>
  </div>
</section>
<section id="plans" class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5 my-auto">
        <p class="btn btn-start greencolor">{{dataHome.plans.textInfo.button}}</p>
        <h2>{{dataHome.plans.textInfo.title}}</h2>
        <p>{{dataHome.plans.textInfo.text}}</p>
        <mat-button-toggle-group matBadge="10% OFF" matBadgePosition="after" matBadgeColor="accent">
          <mat-button-toggle class="px-5">{{dataHome.plans.textInfo.perM}}</mat-button-toggle>
          <mat-button-toggle class="px-5">{{dataHome.plans.textInfo.perA}}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col my-auto border rounded px-0 mx-3" *ngFor="let plan of dataHome.plans.details">
            <div class="header">
              <div class="inner-header text-left px-4 pt-3">
                <p class="text-white h3">{{plan.title}}</p>
                <p class="text-white display-4 font-weight-bolder">{{plan.price}}<span style="font-size: 20px;">/{{plan.per}}</span></p>
              </div>
              <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
              </svg>
            </div>
            <div class="content px-4 pb-3 text-center">
              <ul style="list-style-type:none;" class="px-0 text-left">
                <li *ngFor="let item of plan.items" class="my-3"><i class="fas fa-check btn-start rounded-circle p-2 greencolor" style="font-size: 10px;"></i> {{item.item}}</li>
              </ul>
              <p class="btn btn-start text-primary my-auto font-weight-bolder w-75">{{plan.button}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>